:root{
    /* CSS HEX Humble Pallette
    - use via: cssProperty: var(--jet)
    */
    --apple-green: #8EA940ff;
    --raisin-black: #252830ff;
    --eerie-black: #191B19ff;
    --jet: #2A2B29ff;
    --french-gray: #D0D3D9ff;
    --onyx: #363942ff;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Sofia Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    color: lightgray;
}

.body{
    width:100%;
    background-color: var(--raisin-black);
}

.app-content{
    /* width:80%; */
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

/* for dev purposes to display flex areas */
.ctn{
    border: 1px solid rgb(116, 114, 114);
    /* width:100%; */
}

.nav{
    position:sticky;
    background-color: var(--onyx);
    color: white;
    z-index:300;
    top:0;
}

.nav-links{
    height:60px;
    z-index:200;
}
.nav hr{
    background-color: var(--raisin-black);
    height:1px;

}

.charity-nav{
    height:50px;
}

#banner {
    background-image: url('https://arrogant-bundle.onrender.com/images/backgrounds/header.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sofia Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 5px;
    cursor: pointer;
    text-decoration: none;
}

/*CART MODAL ============================================*/
#curtain-modal {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

#cart {
    height: fit-content;
    width: 880px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #eff2fb;
    overflow: auto;
}

#cart-header {
    border-bottom: 1px solid gray;
    height: 75px;
    width: 100%;
    background-color: #e6e9ef;
    color: #242424;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#cart-h1 {
    font-size: 24px;
    color: #494f5c;
    margin-right: 310px;
}
#close-circle {
    color: rgb(179, 179, 179);
    margin-top: -20px;
    margin-right: 5px;
}

#cart-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: fit-content;
}
#holder-h1 {
    color: #494f5c;
    font-size: 17px;
}


#cart-checkout {
    color: #494f5c;
    text-align: center;
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    background-color: #e6e9ef;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#checkout-h1 {
    color: #494f5c;
    font-size: 26px;
}

#cart-terms {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    gap: 7px;
}

#cart-footer {
    border-top: 1px solid rgb(172, 172, 172) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e9ef;
    height: 70%;
}
#purchase-btn {
    background-color: #009de6;
    margin-top: 30px;
    height: 50px;
    width: 90%;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    padding: 1em;
    font-weight: bold;
    text-shadow: 0 1px 2px gray;
    cursor: pointer;
}
#purchase-btn:hover {
    background-color: #0074aa;
}

.cart-p {
    font-size: 15px;
    margin-top: 10px;
}

#purchase-top {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-bottom: #494f5c;
    margin: .5em;
}
#purchase-topA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 8px;
}
#purchase-topA > h1 {
    color: #494f5c;
}
#purchase-topB {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    color: #ff6f00;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 2.5em;
}

#purchase-mid {
    display: flex;
    flex-direction: column;
    height: fit-content; 
    border-top: 1px solid gray;
}
#purchase-mid > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#purchase-mid > div > h1 {
    color: #494f5c;
    font-size: 15px;
    margin: .5em;
    margin-left: 2em;
    margin-right: 2em;
}

#purchase-bottom {
    background-image: url('https://cdn.humblebundle.com/static/hashed/bc89c6dc0aa0523334a5c50035a45a67aa543f40.jpg');
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#purchase-bottom > h1 {
    color: white;
    font-size: 25px;
}
#purchase-bottom > p {
    font-size: 14px;
    margin-top: 2em;
}

#cart-footer > button {
    margin-top: 10px;
    height: 50px;
    width: 90%;
    border-radius: 3px;
    font-size: 14px;
    padding: 1em;
    cursor: pointer;
}

#paypal {
    background-color: #ffab02;
    color: #444542;
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1), inset 0px 0px 0px 1px #c68100, inset 0px 2px 0px 0px rgba(255,255,255,0.6);
}
#paypal:hover {
    background: linear-gradient(-180deg, #ffeebf 0%, #ffd359 100%);
}
#klarna {
    background-color: white;
}
#amazon {
    background: linear-gradient(-180deg, #ffeebf 0%, #ffd359 100%);
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    color: black;
    border: 1px solid #b38a22;
    font-size: 13px
}

#empty-cart {
    font-size: 17px;
    color: #444542;
}

/* END OF CART MODAL CSS==============================*/

.hero{
    background-color: var(--raisin-black);
    color: white;
    height: 681px;
}

.hero-content{
    max-width: 1140px;
    margin: 0 auto;
}

.product-hero {
    margin: 2rem auto;
    display:flex;
    flex-flow: row wrap;
}

.product-details{
    color: var(--french-gray)
}
.product-details-content{
    max-width: 1140px;
    margin: 0 auto;
}

.product-description{
    display:flex;
    flex-flow: column nowrap;
    background-color: var(--french-gray);
}

.product-description-content{
    max-width: 1140px;
    margin: 0 auto;
}

.product-description p{
    margin-bottom: 1rem;
}

.critical-reception{
    max-width: 1140px;
    margin: 0 auto;
}

.popular-carousel{
    background-color: var(--onyx);
    width:100%;
}

.popCarousel-contents{
    max-width: 1200px;
    margin: 0 auto;
}

.system-req{
    max-width: 1140px;
    margin: 0 auto;
}


.footer{
    background-color: var(--onyx);
}

.footer-contents{
    max-width: 93.75rem;
    margin: 0 auto;
}