:root{
    /* CSS HEX Humble Pallette
    - use via: cssProperty: var(--jet)
    */
    --apple-green: #8EA940ff;
    --raisin-black: #252830ff;
    --eerie-black: #191B19ff;
    --jet: #2A2B29ff;
    --french-gray: #D0D3D9ff;
    --onyx: #363942ff;
    --gold: #ef9943;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Sofia Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    color: lightgray;
}

.humble-gold{
    color: var(--gold);
}

.humble-green{
    color:var(--apple-green);
}

.body{
    width:100%;
    background-color: var(--raisin-black);
}

.app-content{
    /* width:80%; */
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

/* for dev purposes to display flex areas */
.ctn{
    border: 1px solid rgb(116, 114, 114);
    /* width:100%; */
}

.nav{
    position:sticky;
    background-color: var(--onyx);
    color: white;
    z-index:300;
    top:0;
}

.nav-links{
    height:60px;
    z-index:200;
}
.nav hr{
    background-color: var(--raisin-black);
    height:1px;

}

.charity-nav{
    height:50px;
}

#banner {
    background-image: url('https://arrogant-bundle.onrender.com/images/backgrounds/header.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 5px;
    cursor: pointer;
    text-decoration: none;
}



/*-------------------------- HERO SECTION */
#hero{
    background-color: var(--raisin-black);
    color: white;
    height: 850px;
    min-width: 1140px;
    margin: 0 auto;
    margin-top:2.5rem;
}

#hero-content{
    display:flex;
    flex-flow: column nowrap;
    width:100%;
}

#product-hero {
    margin: 1rem auto;
    display:flex;
    flex-flow: row nowrap;
    width:100%;
    gap:1rem;
}

.product-title{
    font-size:1.2rem;
    color:var(--french-gray);
    font-weight:bold;
    width:100%;
    text-transform: uppercase;
}

.main-carousel-img{
    width:750px;
    height: auto;
}

#mini-product{
    width: 375px;
    display:flex;
    flex-flow: column nowrap;
    background-color: var(--eerie-black);
}

.itemlogo{
    width:90px;
    object-fit: contain;
}

.thumbnail{
    width:375px;
    object-fit: contain;
}

.product-showcase{
    padding: .6rem 1rem .8rem;
    display: flex;
    flex-flow: column wrap;
    gap: .5rem;
    /* max-width: 39rem; */
}

.price{
    display:flex;
    justify-content: end;
    font-size: 2rem;
    font-weight: bold;
}

.savings{
    background-color: black;
    font-size: 1rem;
    padding: 1rem .75rem;
    font-weight: bolder;
    text-wrap: wrap;
    text-align: center;
}

#checkoutBtn{
    background-color: var(--apple-green);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1rem .5rem;
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: 0 3px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: all 0.35s linear;
}

#checkoutBtn:hover{
    background-color: rgba(143, 169, 64, 0.616);;
}


#wishListBtn{
    background-color: var(--onyx);
    color: darkgray;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0.40rem;
    text-shadow: 0 3px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.35s linear;
    text-align: center;
}

#wishListBtn:hover{
    color: var(--gold);
}

/* ----------------------------------------- HERO CAROUSEL */

#hero-carousel {

}


/* -------------------------- PRODUCT DETAILS SECTION */
.product-details{
    color: var(--french-gray)
}
.product-details-content{
    max-width: 1140px;
    margin: 0 auto;
}

.product-description{
    display:flex;
    flex-flow: column nowrap;
    background-color: var(--french-gray);
}

.product-description-content{
    max-width: 1140px;
    margin: 0 auto;
}

.product-description p{
    margin-bottom: 1rem;
}

.critical-reception{
    max-width: 1140px;
    margin: 0 auto;
}

.popular-carousel{
    background-color: var(--onyx);
    width:100%;
}

.popCarousel-contents{
    max-width: 1200px;
    margin: 0 auto;
}

.system-req{
    max-width: 1140px;
    margin: 0 auto;
}


.footer{
    background-color: var(--onyx);
}

.footer-contents{
    max-width: 93.75rem;
    margin: 0 auto;
}