@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');



.nav-links {
    height:68px;
    z-index:200;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 2px solid #252830ff;
    border-top: none;
}

#humble-links {
    display: flex;
    flex-direction: row;
    margin-left: 12em;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
#humble-links > h1 {
    cursor: pointer;
    font-family: 'Galada';
    color: white;
}
#humble-links > a {
    margin-left: 20px;
    color: #D0D3D9ff;
    font-size: 15px;
    margin-top: -5px;
    cursor: pointer;
    transition: color .5s;
    font-weight: bold;
    text-decoration: none;
}
#humble-links > a:hover {
    color: white;
    text-decoration: underline;
}
#humble-links > h3 {
    margin-left: 20px;
    color: #D0D3D9ff;
    font-size: 15px;
    margin-top: -5px;
    cursor: pointer;
    transition: color .5s;
    font-weight: bold;
}
#humble-links > h3:hover {
    color: white;
}

#search-signUp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    height: 100%;
    margin-right: 10em;
}
#searchInput {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 3px;
    height: 70%;
    width: 54%;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    color: #D0D3D9ff;
}
#searchInput > input {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 330px;
    color: white;
    font-size: 17px;
}
#searchInput > input::placeholder {
    color: #D0D3D9ff;
    font-weight: bold;
    font-size: 17px;
    font-weight: bold;
}
#search-signUp > a {
    font-size: 15px;
    color: #D0D3D9ff;
    transition: .5s;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
#search-signUp > a:hover {
    color: white;
    text-decoration: underline;
}
/*=========================*/
.charity-nav {
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
}

#charity-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12em;
}
#charity-links > a {
    font-size: 15px;
    margin-left: 30px;
    color: #D0D3D9ff;
    transition: .5s;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
#charity-links > a:hover {
    color: white;
}

#wallet-cart {
    height: 40px;
    width: 200px;
    color: black;
    margin-right: 12em;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#wallet-cart > h3 {
    color: #D0D3D9ff;
    font-size: 15px;
    margin-left: -10px;
}

.nav-icons {
    color: #D0D3D9ff;
    font-size: 20px;
    transition: .5s;
    cursor: pointer;
}
#wallet-icon:hover {
    color: white;
}

#cart-icon,
#star-icon {
    color: white;
}